In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data =pd.read_csv(r"C:\Users\DELL\Downloads\global_freelancers_raw.csv")

In [3]:
# data.info()
data#.head()
#data.tail()

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,f,52.0,Italy,Italian,Blockchain Development,11.0,100,NaN,0,NaN
1,FL250002,Vanessa Garcia,FEMALE,52.0,Australia,English,Mobile Apps,34.0,USD 100,3.3,1,84%
2,FL250003,Juan Nelson,male,53.0,Germany,German,Graphic Design,31.0,50,0.0,N,71%
3,FL250004,Amanda Spencer,F,38.0,Australia,English,Web Development,4.0,$40,1.5,N,90%
4,FL250005,Lynn Curtis DDS,female,53.0,Germany,German,Web Development,27.0,30,4.8,0,83%
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,no,68%
996,FL250997,Cheryl Norris,f,26.0,Germany,German,Blockchain Development,6.0,USD 40,2.8,N,82
997,FL250998,Kathy Watkins,female,37.0,Japan,Japanese,Data Analysis,15.0,75,NaN,False,94%
998,FL250999,John Obrien,m,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,yes,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,$20,1.7,1,72

In [4]:
 #data.shape
#data.columns

print(data.isnull().sum())
#print(data.isnull().values.any())
#data['age']

freelancer_ID            0
name                     0
gender                   0
age                     30
country                  0
language                 0
primary_skill            0
years_of_experience     51
hourly_rate (USD)       94
rating                 101
is_active               89
client_satisfaction    176
dtype: int64

In [5]:
#print(data.isnull().sum().sum())
missing_percent = (data.isnull().sum()) / (len(data)) * 100
missing_percent

freelancer_ID           0.0
name                    0.0
gender                  0.0
age                     3.0
country                 0.0
language                0.0
primary_skill           0.0
years_of_experience     5.1
hourly_rate (USD)       9.4
rating                 10.1
is_active               8.9
client_satisfaction    17.6
dtype: float64

In [6]:
#data
#data.columns
#data['age'] = data['age'].isnull().sum()
data['age'] = data['age'].fillna(data['age'].median())
data['age']

0      52.0
1      52.0
2      53.0
3      38.0
4      53.0
       ...
995    56.0
996    26.0
997    37.0
998    46.0
999    36.0
Name: age, Length: 1000, dtype: float64

0      0
1      0
2      0
3      0
4      0
      ..
995    0
996    0
997    0
998    0
999    0
Name: age, Length: 1000, dtype: int64

In [8]:
#print(data['age'].isnull().any())
#print(data.isnull().any())

freelancer_ID          False
name                   False
gender                 False
age                    False
country                False
language               False
primary_skill          False
years_of_experience     True
hourly_rate (USD)       True
rating                  True
is_active               True
client_satisfaction     True
dtype: bool

In [9]:
#data.columns
#data['years_of_experience'] = (data['years_of_experience'].isnull().sum())
#data['years_of_experience'].isnull().any()

True

In [10]:

#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
#print(data)